.checkbox {
  .list-reset();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding-left: 83px;
    padding-right: 50px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    padding-left: 44px;
    column-gap: 64px;
  }
}

.checkbox__item {
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    flex: 0 0 50%;
    margin-bottom: 17px;
  }

  @media (min-width: @desktop-width) {
    flex: auto;
    flex-shrink: 0;
  }
}

.checkbox__label {
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  display: flex;
  align-items: center;
}

.checkbox__text {
  flex: 0 0 46px;
  height: 46px;
  background-color: @light-grey;
  margin-right: 16px;
  position: relative;
  display: flex;
}

.checkbox__text::before {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.checkbox__input:checked + .checkbox__text::before {
  display: block;
}
