.form__fieldset {
  border:0 none;
}
.form__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight:bold;
  padding-top:24px;
  padding-bottom: 20px;
}

.form__info {
  margin:0;
  margin-left: 36px;
  text-transform: uppercase;
  font-size:14px;
  font-weight: normal;
}
.form__input {
  width: fill;
  margin-left:-36px;
  border: none;
  background-color: #F2F2F2;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  padding:16px;
  margin-bottom: 16px;
}
.form__textarea {
    width: fill;
    border: none;
    background-color: #f2f2f2;
    padding: 16px;
    padding-top: 19px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.44;
    color: rgba(0, 0, 0, 0.3);
    height: 150px;

  }

.form__button {
  .button-common();
  display:block;
  margin: 0 auto;
  height: 58px;
  width: 281px;
  margin-top: 42px;
}
.form__legend {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  display: block;
  margin-top: 2px;
}

