.post {
  padding-top: 24px;
}
.post__content {
  padding: 0;
  margin: 0;
}

.post__image {
  display: block;
  border: none;
}
.post__title {
  margin: 0;
  text-align: left;
  line-height: 1.5;
  margin-top: 15px;
}
.post__author {
  margin: 0;
  text-align: left;
  margin-bottom: 11px;
}
.post__like {
  display: flex;
  margin-bottom: 25px;
}
.post__like-count {
  margin: 0;
  margin-left: 14px;
  font-weight: bold;
}
.post__like-link {
  .list-reset();
}
