.slogan-index {
  height: 398px;
  background-color: #1f628c;
  background-image: url('../../img/back-desktop.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 52px;
  padding-bottom: 62px;
}

.slogan-index__image {
  display: block;
  margin: 0 auto;
}
