@font-family-base: "PT Sans", "Arial", sans-serif;
@font-size-base: 14px;
@font-color-base: @black;
@font-color-secondary: @white;
@line-height-base: 21px;
@text-transform-base: uppercase;
@black: #000000;
@light-black: #333333;
@white: #ffffff;
@light-grey: #EEEEEE;
@blue: #81B3D2;
@dark-blue: #1f628c;
@form-grey:  #F2F2F2;
@grey: #e5e5e5;
@form-line: #DBDBDB;
@tablet-width: 768px;
@desktop-width: 1200px;
